<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/logo1.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="default.css" />

    <link id="theme-style" rel="stylesheet" type="text/css" href="" />

    <title>Tobi Atilola</title>
  </head>
  <body>
    <section class="s1">
      <!-- <div class="center">
        
      </div> -->
      <div class="main-container">
        <div class="greeting-wrapper">
          <h1>
            <!-- Hi, I'm Tobi Atilola -->
            <img src="images/logo1.png" class="logo" />
          </h1>
        </div>
        <div class="greeting-wrapper">
                <div class="columns">
                  <div class="column notification bG">
                    <div style="margin-top: 5%; margin-bottom: 5%">
                      <div class="backG1" style="padding-left: 40px">
                        <h1 class="title has-text-left is-size-1" style="color: #001951; margin-bottom: 40px">
                          Join Our Waitlist and be a <br /> Proptech Brailbalzer with us
                        </h1>
                        <p class="has-text-left" style="margin-bottom: 20px">
                          Join our waitlist and be a proptech pioneer. Get early access to,
                          <br />
                          game changing real estate investments.
                        </p>
                        <div class="buttons">
                          <a href="#subscribe" class="investButton" style="text-decoration: none; color: white">Join
                            now</a>
                          <button class="button" @click="toggle()" style="
                                        height: 43px;
                                        border-radius: 5px;
                                        font-size: 16px;
                                        cursor: pointer;
                                        margin-top: 9px;
                                        border: 1px solid #001951;
                                      ">
                            <img src="images/play-icon.png" alt="" style="margin-right: 10px; height: 15px; width: 15px" />Watch a
                            brief video
                          </button>
                        </div>
                      </div>
                      <div class="box"></div>
                
                      <div class="trailer">
                        <video id="video1" src="images/video/video.mp4" controls="true"></video>
                        <div class="close">
                          <i style="color: #fff" class="bx bx-x-circle" @click="toggle()">
                          </i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        </div>

        <div class="greeting-wrapper">
          <div>
            <div class="element-featured">
              <h3>Featured on</h3>
            </div>
            <div class="container">
              <img src="images/bella.png" alt="" />
              <img src="images/irokotv.png" alt="" />
              <img src="images/guardian.png" alt="" />
              <img style="max-height: 80px" src="images/businessday.png" alt="" />
              <img src="images/techcaba.png" alt="" />
            </div>
          </div>
        </div>

        <div class="greeting-wrapper">
          <div class="cover">
            <div class="row">
              <div class="col-2">
                <div class="group">
                  <div class="row-1">
                    <h1 style="text-align: left;">
                      WHY REAL ESTATE IS A<br />
                      SUPERIOR INVESTMENT
                    </h1>
                  </div>
                  <div class="row-1">
                    <p style="line-height: 200%">
                      On its own, real estate investment offers cash flow, tax
                      breaks, equity building, competitive risk adjusted returns,
                      and serves as a security against inflation. When you invest in
                      real estate, you enjoy; predictable cash flows, increase in
                      value appreciation, revenue through rental income, tax
                      advantages, diversification and build massive wealth.
                    </p>
                  </div>
                  <div class="row-1">
                    <div class="dis" style="display: flex">
                      <a href="#subscribe" class="fmt-button-2">Get started</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <img src="images/s3-img.png" alt="" />
              </div>
            </div>
            </div>
            <div class="container-flex mobileView">
              <h3 style="color: #000000;">WHY REAL ESTATE IS A SUPERIOR INVESTMENT</h3>
              <p style="line-height: 200%">
                On its own, real estate investment offers cash flow, tax breaks, equity
                building, competitive risk adjusted returns, and serves as a security
                against inflation. When you invest in real estate, you enjoy;
                predictable cash flows, increase in value appreciation, revenue through
                rental income, tax advantages, diversification and build massive wealth.
              </p>
              <a href="#subscribe" class="fmt-button-2">Get started</a>
            </div>
          </div>
        </div>

        <div class="greeting-wrapper">
          <div>
            <!-- <div class="svg-cover">
              <svg width="1440" height="835" viewBox="0 0 1440 835" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1231.4 0.505093L1439.5 99.5033V726.309L989.946 797.502L386.054 834.496L0.5 726.357V55.7531L1231.4 0.505093Z"
                  fill="#EFF7FF" fill-opacity="0.65" stroke="#fff" />
                <path
                  d="M1439.5 180.372V822.432L755.063 734.812L755.003 734.804L754.942 734.811L0.5 822.439V17.5598L1439.5 180.372Z"
                  fill="#DDF5FF" fill-opacity="0.33" stroke="#fff" />
              </svg>
            </div> -->
            <div class="cover-12 desktopView2">
              <div class="element-featured2">
                <h3></h3>
              </div>
              <div class="container2">
                <div class="row2">
                  <div class="col2">
                    <h1>A DIFFERENT KIND OF REAL ESTATE INVESTMENT EXPERIENCE</h1>
                    <ul>
                      <li style="line-height: 200%">
                        Propfunds provides a real estate investment experience like no
                        other, by the provision of a; platform where you can buy and
                        sell your properties, co-own several actual properties with
                        other investors, monitor your property, and best of all; buy
                        properties, or own a slot seamlessly.
                      </li>
                    </ul>
                  </div>
                  <div class="col2">
                    <img src="images/slider-two-img.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="container-12 bg-container2 mobileView2" style="flex-direction: column">
              <h3 style="margin-bottom: 10px">
                A DIFFERENT KIND OF REAL ESTATE INVESTMENT EXPERIENCE
              </h3>
              <span style="line-height: 200%">
                Propfunds provides a real estate investment experience like no other, by
                the provision of a; platform where you can buy and sell your properties,
                co-own several actual properties with other investors, monitor your
                property, and best of all; buy properties, or own a slot seamlessly.
              </span>
            </div> -->
          </div>
        </div>

        <div class="greeting-wrapper" id="subscribe">
          <div class="containerj">
            <h1 class="txtj">WE'D lOVE TO KNOW YOU</h1>
            <div>
              <div class="coverj">
                <div class="boxj has-text-left pl-6">
                  <h1 class="pt-6 is-size-3">Get in touch</h1>
                  <div class="pt-4">
                    <h3 class="is-size-5">Visit us</h3>
                    <div class="is-size-7">
                      Come say hello at our office. <br />
                      Gods Legacy Plaza <br />
                      Off Acme road <br />
                      Ogba, Ikeja <br />
                      Lagos. <br />
                    </div>
                  </div>
                  <div class="pt-4">
                    <h3 class="is-size-5">Chat with us</h3>
                    <div class="is-size-7">
                      Our always friendly team is here to help <br />
                      info@propfunds.ng <br />
                    </div>
                  </div>
                  <div class="pt-4">
                    <h3 class="is-size-5">Call us on:</h3>
                    <div class="is-size-7">
                      Mon-Fri from 9am to 5pm <br />
                      (+234) 816-398-4131 <br />
                    </div>
                  </div>
                  <div class="pt-4">
                    <h3 class="is-size-5">Social media</h3>
                    <div class="social-mediaj">
                      <a class="bx-fw bx bxl-facebook facebookj" href="https://web.facebook.com/Propfunds-103118648774491"
                        target="_blank" rel="noopener noreferrer"></a>
                      <a class="bx-fw bx bxl-twitter twitterj" href="https://twitter.com/Propfundsng?s=08" target="_blank"
                        rel="noopener noreferrer"></a>
                      <a class="bx-fw bx bxl-instagram instagramj" href="https://www.instagram.com/propfunds_ng/" target="_blank"
                        rel="noopener noreferrer"></a>
                      <a class="bx-fw bx bxl-linkedin linkedinj"
                        href="https://www.linkedin.com/company/propfundsng/about/?viewAsMember=true" target="_blank"
                        rel="noopener noreferrer"></a>
                    </div>
                    <!-- <p>
                      Come say hello at our office. <br/>
                      Gods Legacy Plaza <br />
                      Off Acme road <br />
                      Ogba, Ikeja <br />
                      Lagos. <br />
                    </p> -->
                  </div>
                </div>
                <div class="pt-5">
                  <form name="Our_Subscribers" netlify>
                    <div class="rowj has-text-left">
                      <div class="input-groupj">
                        <p for="first_name">First Name</p>
                        <input type="text" id="first_name" name="First_name" />
                        <!-- placeholder="First Name" -->
                        <!-- v-model="formData.first_name" -->
                      </div>
                      <div class="input-groupj">
                        <p for="last_name">Last Name</p>
                        <input type="text" id="last_name" name="Last_name" />
                        <!-- placeholder="Last Name" -->
                        <!-- v-model="formData.last_name" -->
                      </div>
                    </div>
                    <div class="rowj has-text-left">
                      <div class="input-groupj">
                        <p for="email">Email</p>
                        <input type="email" id="email" name="Email" />
                        <!-- placeholder="Email" -->
                        <!-- v-model="formData.email" -->
                      </div>
                      <div class="input-groupj">
                        <p for="phone">Phone Number</p>
                        <input type="number" id="phone" name="Phone" />
                        <!-- placeholder="Phone Number" -->
                        <!-- v-model="formData.phone" -->
                      </div>
                    </div>
                    <div class="rowj has-text-left">
                      <div class="input-groupj">
                        <!-- <input type="text" id="country" placeholder="Country" v-model="country"> -->
                        <p for="country">Country</p>
                        <!-- class="select" -->
                        <select id="country" name="Country">
                          <!-- v-model="formData.country" -->
                          <option value="" selected disabled></option>
                          <option>Nigeria</option>
                          <!-- <option>Ghana</option> -->
                        </select>
                      </div>
                      <div class="input-groupj">
                        <!-- <input type="text" id="state" placeholder="State" v-model="state"> -->
                        <p for="state">State</p>
                        <select id="state" name="State">
                          <!-- v-model="formData.state" -->
                          <option selected disabled>--Select State--</option>
                          <option value="Abia">Abia</option>
                          <option value="Adamawa">Adamawa</option>
                          <option value="Akwa Ibom">Akwa Ibom</option>
                          <option value="Anambra">Anambra</option>
                          <option value="Bauchi">Bauchi</option>
                          <option value="Bayelsa">Bayelsa</option>
                          <option value="Benue">Benue</option>
                          <option value="Borno">Borno</option>
                          <option value="Cross Rive">Cross River</option>
                          <option value="Delta">Delta</option>
                          <option value="Ebonyi">Ebonyi</option>
                          <option value="Edo">Edo</option>
                          <option value="Ekiti">Ekiti</option>
                          <option value="Enugu">Enugu</option>
                          <option value="FCT">Federal Capital Territory</option>
                          <option value="Gombe">Gombe</option>
                          <option value="Imo">Imo</option>
                          <option value="Jigawa">Jigawa</option>
                          <option value="Kaduna">Kaduna</option>
                          <option value="Kano">Kano</option>
                          <option value="Katsina">Katsina</option>
                          <option value="Kebbi">Kebbi</option>
                          <option value="Kogi">Kogi</option>
                          <option value="Kwara">Kwara</option>
                          <option value="Lagos">Lagos</option>
                          <option value="Nasarawa">Nasarawa</option>
                          <option value="Niger">Niger</option>
                          <option value="Ogun">Ogun</option>
                          <option value="Ondo">Ondo</option>
                          <option value="Osun">Osun</option>
                          <option value="Oyo">Oyo</option>
                          <option value="Plateau">Plateau</option>
                          <option value="Rivers">Rivers</option>
                          <option value="Sokoto">Sokoto</option>
                          <option value="Taraba">Taraba</option>
                          <option value="Yobe">Yobe</option>
                          <option value="Zamfara">Zamfara</option>
                        </select>
                      </div>
                    </div>
                
                    <div class="has-text-left">
                      <div class="input-groupj">
                        <p for="callYou">What would you like us to call you?</p>
                        <input type="text" id="callYou" name="What_should_we_call_you" />
                        <!-- v-model="formData.callYou" -->
                      </div>
                    </div>
                    <div class="has-text-left">
                      <div class="input-groupj">
                        <p for="aboutUs">How did you hear about us?</p>
                        <input type="text" id="aboutUs" name="How_did_you_hear_aboutUs" />
                        <!-- v-model="formData.aboutUs" -->
                      </div>
                    </div>
                    <div class="">
                      <!-- <div class="input-groupj">
                              <button class="button2" @click.stop="settings">
                                Back
                              </button>
                            </div> -->
                      <div class="input-groupj m-auto">
                        <button class="button fmt-button-2j is-fullwidth" type="submit">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- <div class="rowj">
                  <h2>WANT TO JOIN THE INNER CIRCLE?</h2>
                  <p>
                    You can now join the special group of Propfunds investors and co-earn
                    several properties in no time.
                  </p>
                  <router-link :to="{ name: 'Home' }">
                    <a href="" class="fmt-button-2j">Get started</a>
                  </router-link>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <footer>
          <div class="footer-container">
            <div class="rowQ" style="display: flex; justify-content: space-evenly;">
              <div class="left-colQ">
                <img src="images/logo1.png" class="logo" />
                <!-- <div class="btn-containerQ">
                    <div class="btnQ">
                      <i class="bx bxl-play-store"></i>
                      <div class="groupQ">
                        <div class="formatQ">Download on</div>
                        <div class="format-2"Q>Google Play</div>
                      </div>
                    </div>
                    <div class="btnQ">
                      <i class="bx bxl-apple"></i>
                      <div class="groupQ">
                        <div class="formatQ">Get it on</div>
                        <div class="format-2Q">Apple Store</div>
                      </div>
                    </div>
                  </div> -->
                <div class="social-mediaQ">
                  <a class="bx-fw bx bxl-facebook facebookQ" href="https://web.facebook.com/Propfunds-103118648774491"
                    target="_blank" rel="noopener noreferrer"></a>
                  <a class="bx-fw bx bxl-twitter twitterQ" href="https://twitter.com/Propfundsng?s=08" target="_blank"
                    rel="noopener noreferrer"></a>
                  <a class="bx-fw bx bxl-instagram instagramQ" href="https://www.instagram.com/propfunds_ng/" target="_blank"
                    rel="noopener noreferrer"></a>
                  <a class="bx-fw bx bxl-linkedin linkedinQ"
                    href="https://www.linkedin.com/company/propfundsng/about/?viewAsMember=true" target="_blank"
                    rel="noopener noreferrer"></a>
                </div>
              </div>
              <div class="itemsQ">
                <!-- <div class="col">
                  <h4>Links</h4>
                  <ul>
                    <li>
                      <router-link :to="{ name: 'About' }" class="nav-link">
                        About</router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'Home' }" class="nav-link">
                        How it Works</router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'Home' }" class="nav-link">
                        FAQs
                      </router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'Home' }" class="nav-link">
                        Get Started
                      </router-link>
                    </li>
                  </ul>
                </div> -->
                <!-- <div class="col">
                  <h4>Company</h4>
                  <ul>
                    <li>
                      <router-link :to="{ name: 'Home' }" class="nav-link">
                        Terms & Conditions</router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: '' }" class="nav-link">
                        Privacy Policy</router-link>
                    </li>
                  </ul>
                </div> -->
                <div class="colQ cclQ">
                  <h4>Get in touch</h4>
                  <ul>
                    <li>+234 818 100 8962</li>
                    <li>
                      Odusami Street, Off Wemco Street Ogba, Ikeja,<br />
                      Lagos.
                    </li>
                    <li>info@propfunds.ng</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>

      </div>
    </section>

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
